<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bibliothèque - Acceuil</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <link href="/css/grayscale.min.css" rel="stylesheet">

</head>

<div th:include="_navbar.html"></div>

<body class="fondimage" style="background-image: url('/img/fondAcceuilP7.jpg');">

<div class="blockAcceuil container text-center">


    <form action="/rechercher" method="get">
        <div class="form-row text-center">

            <input type="text" name="nom" class="form-control form-control-lg" placeholder="Rechercher un ouvrage">
            <button class="btn btn-warning container" value="Search" role="button" >Trouver un ouvrage</button>
        </div>
    </form>

</div>

<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
<!-- Footer -->
<div th:include="_footer.html"></div>
</body>
</html>

