<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bibliothèque - Liste des ouvrages</title>
    <div th:include="_head.html"></div>
</head>

<div th:include="_navbar"></div>

<body class="espaceSection">
<div class="container">
    <h1>LISTES DES OUVRAGES</h1>

    <th:block th:if="${ouvrages.isEmpty()}">Aucun Ouvrage Disponible</th:block>
    <hr>
    <hr>

    <th:unless>
    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>NbExemplaire dispo</th>
            <th>Emprunter</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="ouvrage : ${ouvrages}">
            <td th:text="${ouvrage.nom}"></td>
            <td th:text="${ouvrage.nbExemplaire}"></td>
            <td><form th:action="@{/Emprunt/{id}(id=${ouvrage.id})}" th:object="${ouvrage}" >
                <button type="submit" class = "btn btn-warning btn-sm" >Emprunter</button>
            </form></td>
        </tr>
        </tbody>
    </table>
    </th:unless>
</div>

<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

<div th:include="_footer"></div>

</body>

</html>


