<!DOCTYPE html>
<html lang="en" >

<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <link href="/css/grayscale.min.css/" rel="stylesheet">
</head>

<body class="fondimage" style="background-image: url('/img/LivreEntrer.jpg');">


<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">BIBLIOTHÈQUE DE LA VILLE</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">CONNEXION REUSSIE...</h2>
            <a href="/acceuil" class="btn btn-warning container">Entrée</a>
        </div>
    </div>
</header>
<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>

</html>
