<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bibliothèque - Resultat recherche</title>
    <div th:include="_head.html"></div>
</head>

<div th:include="_navbar"></div>

<body class="espaceSection">
<div class="container">
    <h1>TABLEAU DE BORD</h1>


    <hr>
    <hr>

    <th:unless>
        <table class="table">
            <thead>
            <tr>
                <th>Titre</th>
                <th>NbExemplaire dispo</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="ouvrages : ${user}">
                <td th:text="${user.nomUtilisateur}" />
            </tr>
            </tbody>
        </table>
    </th:unless>
</div>


</div>

<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

<div th:include="_footer"></div>

</body>

</html>